
.icon-beaker:before { content: '\e800'; } /* '' */
.icon-laptop:before { content: '\e801'; } /* '' */
.icon-book:before { content: '\e802'; } /* '' */
.icon-book-1:before { content: '\e803'; } /* '' */
.icon-book-open:before { content: '\e804'; } /* '' */
.icon-book-2:before { content: '\e805'; } /* '' */
.icon-pi:before { content: '\e806'; } /* '' */
.icon-grid:before { content: '\e807'; } /* '' */
.icon-flight:before { content: '\e808'; } /* '' */
.icon-users:before { content: '\e809'; } /* '' */
.icon-calendar:before { content: '\e80a'; } /* '' */
.icon-brush:before { content: '\e80b'; } /* '' */
.icon-note-beamed:before { content: '\e80c'; } /* '' */