
.icon-emo-happy:before { content: '\e800'; } /* '' */
.icon-search:before { content: '\e801'; } /* '' */
.icon-mail-alt:before { content: '\e802'; } /* '' */
.icon-facebook-rect:before { content: '\e803'; } /* '' */
.icon-pencil:before { content: '\e804'; } /* '' */
.icon-user:before { content: '\e805'; } /* '' */
.icon-skype:before { content: '\e806'; } /* '' */
.icon-keyboard:before { content: '\e807'; } /* '' */
.icon-bank:before { content: '\e808'; } /* '' */